# Transient files
*.swp

# Logs
bmodel.log

# Python generated classes
*.pyc

# IDE
.vscode/
*.code-workspace

# C++ generated classes
*.o
controlplane/client/src/control_plane
controlplane/client/src/grpc_out
