# Transient files
*.swp
dataplane/p4/env/tmp

# Logs
*.log

# Python generated classes
*.pyc

# IDE
.vscode/
*.code-workspace

# C++ generated classes
*.o
controlplane/client/cfg
controlplane/client/src/edf-cp-client
controlplane/client/src/edf-cp-server
controlplane/client/src/grpc_out*
